services:

  nginx:
      image: nginx:alpine
      container_name: lms_nginx
      ports:
        - "80:80"
      volumes:
        - ./src:/var/www/html
        - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      depends_on:
        - lms
      networks:
        - lms

  db:
    image: mysql:8.0
    container_name: lms_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      LANG: C.UTF-8
      LC_ALL: C.UTF-8
    ports:
      - "${MYSQL_PORT}:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test:
        [
          "CMD",
          "mysqladmin",
          "ping",
          "-h",
          "localhost",
          "-u",
          "${MYSQL_USER}",
          "-p${MYSQL_PASSWORD}"
        ]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 10s
    networks:
      - lms

  lms:
    build:
      context: ./docker/php
      dockerfile: Dockerfile
    container_name: lms_app
    restart: always
    ports:
      # - "${APP_PORT}:8000"
      - "${VITE_PORT}:5173" # Vite dev
    volumes:
      - ./src:/var/www/html
      - node_modules:/var/www/html/node_modules
      - laravel_storage:/var/www/html/storage
      - laravel_cache:/var/www/html/bootstrap/cache
    # command: ["sh", "-c", "npm install && npm run dev -- --host=0.0.0.0 & composer install --ignore-platform-reqs && exec php artisan serve --host=0.0.0.0 --port=8000"]
    # command: ["sh", "-c", "composer install --ignore-platform-reqs && npm install && npm run dev -- --host=0.0.0.0 & php-fpm"]
    command:
    - sh
    - -c
    # - |
    #   composer install --ignore-platform-reqs
    #   npm install
    #   npm run dev -- --host=0.0.0.0 &
    #   exec php-fpm
    - |
      composer install --ignore-platform-reqs
      npm install
      npm run build
      exec php-fpm
    depends_on:
      db:
        condition: service_healthy
    environment:
      DB_CONNECTION: mysql
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: ${MYSQL_DATABASE}
      DB_USERNAME: ${MYSQL_USER}
      DB_PASSWORD: ${MYSQL_PASSWORD}
      LANG: C.UTF-8
      LC_ALL: C.UTF-8
      VITE_HOST: ${VITE_HOST}
      VITE_PORT: ${VITE_PORT}
    env_file:
      - .env
    networks:
      - lms

  python:
    build:
      context: ./docker/python
      dockerfile: Dockerfile
    container_name: lms_py
    restart: always
    ports:
      - "${PY_PORT}:8001"
    volumes:
      - ./ml:/app
    command: ["uvicorn", "ml_api:app", "--host", "0.0.0.0", "--port", "8001", "--reload"]
    depends_on:
      db:
        condition: service_healthy
    environment:
      MYSQL_HOST: db
      MYSQL_PORT: 3306
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      FASTAPI_PORT: ${PY_PORT}
    networks:
      - lms

  mailpit:
    image: axllent/mailpit:latest
    container_name: lms_mailpit
    restart: always
    ports:
      - "1025:1025" # SMTP
      - "8025:8025" # Web UI
    networks:
      - lms

volumes:
  db_data:
  node_modules:
  laravel_storage:
  laravel_cache:

networks:
  lms:
    driver: bridge
